<!-- views/update.ejs -->

<head>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>Update User</title>
</head>
<body>
  <h1><%= title %></h1>
  <a href="/">Home</a>
  <%- include("partials/errors.ejs") %>
  <form
    class="userForm"
    action="/users/<%= user.id %>/update"
    method="POST"
    autocomplete="off"
  >
    <h2><%= title %></h2>

    <div class="formEntry">
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" id="firstName" required />
    </div>

    <div class="formEntry">
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" id="lastName" required />
    </div>

    <div class="formEntry">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" required />
    </div>

    <div class="formEntry">
      <label for="age">Age: </label>
      <input type="number" name="age" id="age" />
    </div>

    <div class="formEntry">
      <label for="bio">Bio: </label>
      <input type="text" name="bio" id="bio" />
    </div>

    <button type="submit">Update User</button>
  </form>
</body>
