<!-- views/update.ejs -->

<head>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>Update User</title>
</head>
<body>
  <%- include("partials/errors.ejs") %>
  <div class="test">Test div</div>
  <form action="/users/<%= user.id %>/update" method="POST" autocomplete="off">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required />

    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required />

    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required />

    <label for="age">Age: </label>
    <input type="number" name="age" id="age" />

    <label for="bio">Bio: </label>
    <input type="text" name="bio" id="bio" />

    <button type="submit">Update User</button>
  </form>
</body>
