body {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

form {
    background-color: salmon;
}

button {
    background-color:blue;
}

.test {
    color: purple;
    background-color:forestgreen;
}