* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body {
    box-sizing: border-box;
    height: 100vh;
    display:flex;
}

form {
    background-color: salmon;
    display: flex;
    flex-direction: column;
}

button {
    margin: auto;
}
form element {
    margin: 1rem;

}
