* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body {
    box-sizing: border-box;
    height: 100vh;
    display:flex;
    flex-direction: column;

}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius:10px;
    border: 2px solid #007AFF;
}

.formEntry {
    display: flex;
    flex-direction: column;

}

form h2 {
    text-align: center;
}

form button {
    margin: 1rem;
}


/* button {
    margin: auto;

}
form div {
    margin: .5rem;
} */
